.pin_form {
    width: fit-content;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(88, 87, 87);
  }
  
  input {
    border: none;
    border-bottom: 1px solid gray;

  }
  
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
    color: rgb(185, 184, 184);
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  textarea {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
    border: solid 2px tomato;
  }

  .card_paper{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
  }

  .card_markerContainer{
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .card_markerContainer:hover{
    z-index: 2;
  }

  .card_pointer{

    cursor: pointer;
  }
  

  .PopCard{
    border: 1px solid #6e064c;
  }