.card_chip{
    margin: 5px 5px 5px 0;
}

.card_subtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.card_spacing{
    display: flex;
    align-items: center;
    justify-content: space-between;
}