.side{
    /* width: 200px; */
    font-size: 200px;
}
body{
    background-color: rgb(186, 243, 243);

.form{
    /* position:fixed;
    right: 50px;
    top: 150px; */
    /* margin: 50px auto ; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 400px;
    height: 400px;
    margin: 150px 50px;
    /* border: solid 2px rgb(100, 100, 195); */
    border-radius: 3px;

    background: rgba(250, 250, 250, 0.781);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    background-color: transparent;
    
}
h1{
    color: rgb(100, 100, 195);
    font-size: 50px;
    padding: 10px;
    text-align: center;
    background-color: transparent;
}
input{
    border: 1px solid rgb(100, 100, 195);
    padding: 10px;
    margin: 10px;
    width: 350px;
    background-color: transparent;
    
}
input:focus{
    border:0;
   outline: none;
   border-bottom: 2px solid rgb(100, 100, 195);
   border-right: 1px solid rgb(100, 100, 195);
   border-bottom-right-radius: 3px;
}
.btn{
    background-color: rgb(100, 100, 195);
    width: 350px;
    padding:10px 20px;
    margin: 10px;
    border: solid 0px;
    border-radius: 3px;
    color: white;
}
.btn:hover{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.google{
    width: 300px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    background-color: red;
}
.google:hover{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
svg.icon{
    background-color: transparent;
    color: white;
}
.image{
    background-color: transparent;
    position: fixed;
}
.people{
    width: 500px;
    bottom:0px;
    /* z-index: 1; */
}
.image_1{
    width: 500px;
    top: 250px;
    left: 650px;
    
}
.cloud{
    width: 200px; 
}
.plane{
    width:300px;
    top:50px;
    left:-50px;
    transform:rotate(-10deg);
    filter: brightness(1.5);
    /* z-index: 1; */
}
.car{
    width: 300px;
    right:550px;
    bottom:14px;
    /* top:600px; */
    filter:invert(100%);
}
.building{
    width:400px;
    left:10px;
    bottom:-110px;
    /* top:200px; */
    filter:invert(100%);
}