*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.register_body{
   /* background-color: rgb(186, 243, 243); */
   background: linear-gradient(to right bottom, rgb(186, 243, 243) 63%, rgba(69, 225, 225, 0.74) 55.3%);
   width: 100vw;
   height: 100vh;

    /* overflow: hidden; */
   

}

#registration_container{
    margin-top: 2em;
    margin-bottom:20px;
    width:28em;
    height:39em;
    background-color: white;
    position: relative;
    left: 60em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-body{
    margin-left: 3rem;
    /* background-color: white;  */
    background: transparent; 
   
}

.inputBox{
    padding: 10px;
    margin: 8px;
    width: 300px;
    /* border-radius: 2em; */
    background-color: white;
    border: 1px solid rgb(100, 100, 195);
}

.bttn{
    width: 330px;
    padding:7px;
    margin: 8px;
    border: solid 1px ;
    color: white;
    background-color:rgb(100, 100, 195) ;
    font-size: medium;
}
.bttn:hover{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.switch_login{
    background: none;
    border:0px;
    font-size: 15px;
    color: blue;
    padding: 0;
}
.switch_login:hover{
    cursor: pointer;
}

.google_option{
    padding:5px;
    margin: 3px; 
    margin-left: 9.5em;
    color: grey;
}

.Google{
    width: 310px;
    padding:3px ;
    margin: 10px;
    border: solid 0px;
    color: white;
    background-color: red; 
}



.Icon , .title-google{
    background-color:transparent;
    text-align: right;    
    color: white;
    margin-left: 62px;
}
.change{
    color: blue;
}

